<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.amazon2off.mapper.CodeMapper">

    <insert id="addCode">
        INSERT INTO code
        (code, user_id, listing_id, add_time)
        VALUES
        <foreach collection="codeExcelPojo" item="item" index="index" separator=",">
            (#{item.code}, #{userId}, #{listingId}, #{addTime})
        </foreach>
    </insert>

</mapper>